/integrate/plain
/integrate/plain.hi
/integrate/plain.o
/integrate/threaded
/integrate/threaded.hi
/integrate/threaded.o
/Author.aux
/Author.bbl
/Author.blg
/Author.log
/Author.out
/integrate/mpi.hi
/integrate/mpi.o
/integrate/mpi.txt
/integrate/plain.txt
/integrate/threaded.txt
/integrate/mpi
*.aux
*.log
*.out
*.bbl
*.blg
haskell-mpi.pdf
/code/Trapezoid
/code/Trapezoid-c
/code/Trapezoid-mpi
/code/Trapezoid-multicore
/code/Trapezoid-multicore.hi
/code/Trapezoid-multicore.hs
/code/Trapezoid-multicore.o
/code/Trapezoid.hi
/code/Trapezoid.hs
/code/Trapezoid.o
